[2018-09-13 15:57] mckeown12 opened #2 "Multidimensional target"
Is there support for multidimensional output?  For example,  the following pipeline is valid, but `skl_to_pmml` fails with a traceback error:
[code]

[code]

[2018-09-13 16:01] mckeown12 commented on #2
This is quite similar to an [open feature request for sklearn2pmml](https://github.com/jpmml/sklearn2pmml/issues/54).

[2018-09-14 10:10] vinayvinkumar commented on #2
Thanks for the feedback. Currently multidimensional output functionality is not supported by Nyoka. We shall implement this in future based on our prioritized tasks. Thanks!

[2018-09-17 11:15] saritpg opened #3 "nyoka export issue"
Hello,

Here is the example that is given in nyoka github page:

#--------------------------------------------
import pandas as pd
from sklearn import datasets
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC

iris = datasets.load_iris()
irisd = pd.DataFrame(iris.data,columns=iris.feature_names)
irisd['Species'] = iris.target

features = irisd.columns.drop('Species')
target = 'Spe

[2018-09-18 04:45] saritpg commented on #3
Yes. Problem solved. Please close the issue.

[2018-09-18 04:45] #3 closed

[2018-12-09 04:39] cccdy opened #4 "with some unsupported models， get_PMML_kwargs return null，which results in export error"
Dear  author，I want to export LinearSVC with TfidfVectorizer，but meet the following error.And I find skl_to_pmml has some defined model list, without LinearSVC，I think it is the reason.
How can I export such a linearSVC model? Do you have some upgrade plan, or I can adjust another method to solve it accordingly? Thank u!

File "D:\Program Files\Continuum\Anaconda3\envs\python3.6\lib\site-packages\

[2018-12-18 09:52] abhi621 commented on #4
We have added LinearSVC and LinearSVR to our available exporter list. This update is part of
[Build 1.5.0](https://github.com/nyoka-pmml/nyoka/releases/tag/1.5.0)

Could you kindly check your scenario now? Thanks!

[2018-12-19 12:13] cccdy commented on #4
OK，I will try it later. Many thanks for your effort!

[2019-01-02 05:09] abhi621 commented on #4
Hi cccdy ,
We made some minor changes in our exporter file and LinearSVC working fine with TfidfVectorizer also .
We have attached the example jupyter file for your reference.
https://github.com/nyoka-pmml/nyoka/tree/master/examples/skl

Could you re-install the latest version of nyoka and then check your scenario now? Thanks

[2019-01-02 10:20] cccdy commented on #4
OK, let me have a try, thanks a lot!

[2019-01-04 02:31] cccdy commented on #4
The example works, and it seems run ok in my code. However, maybe my model is too  complicated to export, the following memory error occurs after several hours' running. Sad~

  File "D:\Program Files\Continuum\Anaconda3\envs\python3.6\lib\site-packages\nyoka\skl\skl_to_pmml.py", line 57, in skl_to_pmml
    categoric_values)
  File "D:\Program Files\Continuum\Anaconda3\envs\python3.6\lib\site-pack

[2019-01-11 07:20] hancelpv opened #5 "Support for Regression Neural Networks"
Hello,

Currently, I see that nyoka can only handle CNNs (MobileNet), which is also given in the example.
Can nyoka support other kind of Neural Networks, specifically the ones used for regression ?

[2019-01-11 08:42] sharmasw commented on #5
Hi, Yes Nyoka does support DNN based models for regression. We will add a few examples of regression problems in the example section.

For now, below is an example:

import keras
from keras.models import Sequential
from keras.layers import *
import sys
from nyoka import KerasToPmml

model = Sequential()
model.add(Dense(13, input_dim=13, kernel_initializer='normal', activation='relu'))
model.add(De

[2019-01-11 09:39] OpusTen commented on #5
Thank you so much for your prompt reply ! But my issue, is not resolved yet.
I'm attaching my reproducible code and the pmml output file here.
**PMML file still shows the attributes of MobileNet model.**
Kindly run it and check. Thanks.

import keras
from keras.models import Sequential
from keras.layers import *
import sys
from nyoka import KerasToPmml

data = pd.DataFrame(boston.data)
features =

[2019-01-11 11:11] sharmasw commented on #5
Could you please share your PMML file.  There might be some version issue.

[2019-01-11 11:54] OpusTen commented on #5
<?xml version="1.0" encoding="UTF-8"?>
<PMML xmlns="http://www.dmg.org/PMML-4_3" version="4.3Ext">
    <Header copyright="Internal User, exported to PMML by Nyoka (c) 2019 Software AG" description="Keras Models in PMML">
        <Timestamp>2019-01-11 15:12:40.263731</Timestamp>
    </Header>
    <DataDictionary numberOfFields="2">
        <DataField name="image" optype="categorical" dataType="bina

[2019-01-11 11:55] OpusTen commented on #5
I'm not able to send the file, since the PMML format is not supported for attachments here.

[2019-01-11 16:07] sharmasw commented on #5
Could you please install the nyoka from GitHub once, might be the issue is with the version of Nyoka installed.
If the problem still persists, I will push a new updated version, and that will solve the problem for sure.

[2019-01-11 18:41] OpusTen commented on #5
I git cloned the repository, installed the package using the command 'python setup.py install' and re ran the code.
Still, the issue persists. Kindly push an updated version, if you think that'll solve the issue.
Thanks a lot !

[2019-02-27 08:11] Nirmal-Neel commented on #5
Hi @hancelpv. Support for Sequential model is added with [Nyoka Build 2.0.0](https://github.com/nyoka-pmml/nyoka/releases/tag/2.0.0). Please try with the latest build. Also available in PyPI.

Find the example notebook [here](https://github.com/nyoka-pmml/nyoka/blob/master/examples/keras/2_PMML_generation_for_Sequential_Model.ipynb).
Thanks!

[2019-02-27 08:11] #5 closed

[2019-03-01 16:01] mariussoutier opened #6 "First DataField is always wrong"
Hi,

I have a fairly straightforward sklearn Pipeline that uses a Vectorizer and gradient boost. Exporting it using Nyoka works except that the first DataField is output as a categorical string, although all fields should just be continuous doubles, the training input is a NumPy NDArray of numbers.

[code]

[2019-03-04 08:12] Nirmal-Neel commented on #6
Hi @mariussoutier, can you provide your model structure or the model summary?

[2019-03-04 13:32] mariussoutier commented on #6
I'm not an expert on PMML, what kind of info do you need?

[2019-03-04 14:14] sharmasw commented on #6
Hi @mariussoutier, could you please share your pipeline structure that you are trying to convert?

[2019-03-05 13:36] mariussoutier commented on #6
[code]

[2019-03-06 04:55] Nirmal-Neel commented on #6
Hi @mariussoutier,  could you please provide a script that reproduces the error?

[2019-03-06 08:51] mariussoutier commented on #6
Hi @Nirmal-Neel, sure, here you go.

[code]

[2019-03-06 08:55] mariussoutier commented on #6
The script generates a PMML with an incorrect DataDictionary:

[code]

[2019-03-06 10:16] mariussoutier commented on #6
As far as I can see, that behavior is hard-coded in `pre_process.py':

[code]

[2019-03-06 15:16] mariussoutier commented on #6
Not to overload this issue, but another thing I noticed is that in jpmml I also get this error when reading the model: `org.jpmml.evaluator.MissingValueException: The value for field "decisionFunction(0)" is not defined`.

[2019-03-06 17:02] mariussoutier commented on #6
Are NumPy arrays even supported? It starts to get better when I use a DataFrame. Only exception left now is a problem with OutputFields in the Mining section.

[2019-03-07 05:41] nyoka-pmml commented on #6
Below is the working example for your data:

[code]
We support numpy arrays if there are no pre-processings involved (It would be almost impossible to capture the new set of columns which are generated after pre-processings, (for example one-hot-encoding) and put it in the PMML).  Hope this answers your query.

[2019-03-07 08:38] mariussoutier commented on #6
@nyoka-pmml Thanks a lot, I figured it only works with DataFrames. Now when I read in the model, there seems to be another problem that jpmml reports: `org.jpmml.evaluator.MissingAttributeException: Required attribute OutputField@dataType is not defined`, which is because of this line in the PMML:

[code]

When I add `dataType="double"`, the error disappears.

[2019-03-07 10:57] mariussoutier commented on #6
After filtering those fields out, I'm getting `org.jpmml.evaluator.DuplicateValueException: The value for field "probability_2" has already been defined`.

This part appears twice:

[code]

[2019-03-11 14:46] Slereah opened #7 "The SARIMAX to PMML function seems to call on fields that do not exist."
Upon calling the ArimaToPMML function on some SARIMAX and SARIMAXResults objects, the method keeps on calling fields in those objects which do not seem to exist, such as k_ar or k_ma in SARIMAXResults (they do seem to exist under specification["k_ar"] and specification["k_ma"]), or method for SARIMAX. The version of statsmodels that I use seem to be the same one used by the library, 0.9.0.

What i

[2019-03-12 05:51] Chiragasourabh commented on #7
Hi @Slereah What is the error message you are seeing? and what is the (p,d,q)(P,D,Q,S) order used ?

[2019-03-12 09:05] Slereah commented on #7
It is currently done over a test of various values for the parameters, so as it only goes through the first iteration, the values are simply 0 for everything.

Here's the basic error I get if I do not prepare any of the objects :

[code]

If I add manually the values of k_ar and k_ma (as those are easy to find, they are part of specification), using this
[code]

The error becomes :

[code]

For wh

[2019-03-12 09:27] Chiragasourabh commented on #7
Since the development is still in progress, currently we have not registered
the latest version of nyoka to PyPi.
However, you can install the latest version directly from github using the below link

pip install --user --upgrade git+https://github.com/nyoka-pmml/nyoka.git

and it will resolve your issue

[2019-03-12 09:41] Slereah commented on #7
Updating it thusly does not seem to do anything :

Traceback (most recent call last):
  File "test.py", line 17, in <module>
    fv.export_model("Beep", "~", "/home/slereah", "-Xmx2g")
  File "/home/slereah/prescience/prescience/pytesla/pytesla/cross_validation/forecast_validator.py", line 117, in export_model
    java_options
  File "/home/slereah/prescience/prescience/pytesla/pytesla/cross_valid

[2019-03-12 09:47] Chiragasourabh commented on #7
Hi, @Slereah If you are using Jupyter notebook , please restart the kernal and run the cells after upgrading to latest version of nyoka

[2019-03-12 11:12] Chiragasourabh commented on #7
hi @Slereah ,  is your issue resolved ?

[2019-03-12 16:14] #7 closed

[2019-03-15 08:03] Nirmal-Neel commented on #6
Hi, this issue is solved in [Release Version 3.0.1](https://github.com/nyoka-pmml/nyoka/releases/tag/3.0.1)

[2019-03-26 16:48] alex23lemm opened #8 "Version 3.5 comes with undocumented dependencies"
Hi all,

Today I set up my standard conda environment from scratch I use for exporting DNN architectures to PMML with the latest version 3.5 of Nyoka (`pip install nyoka`). Unfortunately, Nyoka seems to come with new undocumented dependencies after having added support for exporting time series models in version 3.5 which was not the case for the previous versions.

While trying to execute the sta

[2019-04-02 09:49] Nirmal-Neel commented on #8
Hi @alex23lemm , this issue is resolved in [Nyoka Build 3.0.7](https://github.com/nyoka-pmml/nyoka/releases/tag/3.0.7).

The same is also uploaded to PyPi.

[2019-04-02 09:52] #8 closed

[2019-04-10 18:36] mactrey opened #9 "Incorrect nyoka pmml output from sklearn GradientBoostingRegressor"
Nyoka's pmml export is reporting nonsense values for the "score" field in each node when exporting a sklearn pipeline with GradientBoostingRegressor.

Here's a simple reproduction:

[code]

And the nyoka output:
[code]

When put into production, the output pmml file will report [13.271428571428617 -30.966666666666622] for input [578, 580] instead of the correct [547.62714286 543.20333333].

[2019-04-11 04:48] Nirmal-Neel commented on #9
Hi @mactrey, did you deploy the PMML to any server? How did you get the output from the PMML?

The way of generating output is :
1) First, it does a summation of output from all the segments (_in your case there is only one segment_)
2) The summed output is then multiplied by **rescaleFactor** (you can see it in **Targets** tag)
3) Finally, that value is added with **rescaleConstant** and you will

[2019-04-11 16:23] mactrey commented on #9
@Nirmal-Neel Thanks for your help. That makes sense, it looks like I misunderstood the structure of the .pmml file. Yes I did deploy to a server -- our client's, they validate and deploy the file and allow us to call predict() on a test dataset. It sounds like there is an issue on their end with GBR models because the rescale factor and constant are not being applied correctly when predict() is ca

[2019-04-11 16:23] #9 closed

[2019-05-15 08:58] wunderbarr opened #10 "export PCA without classifier"
Hello,
I would like to ask whether it is possible to only export PCA model without classifier?
Thank you!

[2019-05-16 11:38] Nirmal-Neel commented on #10
Hi. Currently this functionality is not supported by Nyoka. We shall implement this in future based on our prioritized tasks. Thanks!

[2019-05-22 17:38] avisheknag17 opened #11 "How can I add custom Transformer/Estimator of sklearn in nyoka and call skl_to_pmml ?"

[2019-05-23 04:36] Nirmal-Neel commented on #11
Hi @avisheknag17. Currently, Nyoka does not support custom Transformer/Estimator. We shall implement this in the future based on our prioritized tasks. Thanks!

[2019-05-23 04:48] #11 closed

[2019-06-10 12:39] Slereah opened #12 "Always getting "'DataFrame' object has no attribute 'name'" upon trying to export."
Upon trying to use Nyoka to export some SARIMAX model to PMML in some project, I always end up with the same error, roughly something like

[code]
I have tried the examples given for SARIMAX which work perfectly fine, but I have been unable to find the root cause for this error. I managed to reduce the code for the error to the following :
[code]

I have tried a few variations, trying to change co

[2019-06-12 10:35] Nirmal-Neel commented on #12
Hi @Slereah , thanks for your feedback. The exporter is expecting the endog data for `time_series_data` parameter. Could you please try to send the endog data to the exporter as,
`ArimaToPmml(labels, model, fit_model, path)`

[2019-06-17 11:25] Slereah commented on #12
That was indeed the issue, thanks.

[2019-06-17 11:25] #12 closed

[2019-07-09 11:17] scorebot opened #15 "Some issues of models generated by the example notebooks"
Hi guys,
Thanks for the awesome project. I have some questions about the models produced by the example notebooks, I use the PyPMML to test those models.

1. `lgbmr_pmml_preprocess.pmml` exported by `nyoka/examples/lgbm/3_lgbm_With_PreProcess .ipynb`. Open the notebook, add the following two cells at the end:
[code]
Make prediction against `x_test` using the built pipeline model, the predicted val

[2019-07-11 15:24] dlepzelter opened #16 "AttributeError: The layer has never been called and thus has no defined input shape"
I'm currently trying to get a PMML version of a Tensorflow 2.0 model, and seem to be getting an unrelated error.

AttributeError: The layer has never been called and thus has no defined input shape.

I've looked through the things that theoretically should cause this error, and none seem to be relevant. Here's my code:

[code]

The model gets trained, and if I tell it to give me an AUC for the tra

[2019-07-12 06:41] nyoka-pmml commented on #15
Hi @scorebot,  thanks for your feedback.
Answers to your questions will be -
3. This will be taken care in the next releases. Thanks for pointing this out.
4. Yes, AnomalyDetectionModel will be a standard model of 4.4
5. No, DeepNetwork will not be part of 4.4. It will be part of 5.0

For question 1 and 2, I will go through it and get back to you. Thanks!

[2019-07-12 06:49] nyoka-pmml commented on #16
Hi @dlepzelter, Thanks for your feedback. The error seems to be Tensorflow's error. Nyoka has nothing to do with this. Instead of exporting it to PMML, could you please try to print input_shape and output_shape or the weights of all the layers after the model is built. Please let me know whether you can get those or not.

[2019-07-19 05:45] nyoka-pmml commented on #16
Hi @dlepzelter, Since there is no activity in this issue for last 7 days, I am closing it. Please re-open it whenever you have anything to continue. Thanks!

[2019-07-19 05:45] #16 closed

[2019-07-19 05:47] nyoka-pmml commented on #4
Hi @cccdy, Since there is no activity in this issue for the last 6 months, I am closing it. Please re-open it whenever you have anything to continue. Thanks!

[2019-07-19 05:47] #4 closed

[2019-07-19 06:37] nyoka-pmml commented on #6
This is resolved in [Release Version 3.1.0](https://github.com/nyoka-pmml/nyoka/releases/tag/3.1.0)

[2019-07-19 06:37] nyoka-pmml commented on #6
[](url)

[2019-07-19 06:37] #6 closed

[2019-07-19 17:27] mckeown12 opened #17 "Combine pipelines with mathematical expressions"
I have two sklearn pipelines, both serializable via nyoka-pmml.  I would like to serialize the sum.

Similar to https://github.com/jpmml/jpmml-sklearn/issues/40 is there a way of achieving this/ supporting this with nyoka?

[2019-07-22 08:13] nyoka-pmml commented on #17
Hi @mckeown12, currently Nyoka does not have support for this. We shall implement it based on our prioritized works.

[2019-07-22 08:13] #17 closed

[2019-07-23 09:02] Nirmal-Neel commented on #15
Hi @scorebot,
1) The reason for the misprediction is the operator in the SimplePredicate. Instead of `lessThan` and `greaterOrEqual`, it should be `lessOrEqual` and `greaterThan`.
2) Yes, `wordSeparatorCharacterRE="(?u)\b\w\w+\b"` is not correct. The default value should be `\s` as you mentioned.

Thanks for pointing out these issues. These will be resolved in the next release of Nyoka.

[2019-07-26 10:29] bdeboe opened #18 "Wrong outputNeuron references in MLPClassifier export"
Hi,
very much like this project as we're putting quite a bit of emphasis on PMML in our platform.
I noticed when exporting a fairly straightforward MLP NeuralNetwork model that the NeuralOutput references seem to point at some internal identifier (or array thereof) rather than the actual ID published in the final NeuralLayer.

Here's the last section of the generated PMML:

and the code to produce

[2019-07-26 10:34] bdeboe commented on #18
FWIW, I can manually change those outputNeurons to refer to the "true" and "false" neuron IDs of the final layer, which I _think_ is what they should be, but I'd rather see somebody more expert decide on that ;-)

[2019-07-30 06:50] nyoka-pmml commented on #18
Hi @bdeboe , thanks for pointing this out. Yes, this is a bug. We will consider this in our future releases.

[2019-07-30 06:53] nyoka-pmml commented on #15
@scorebot , Yes, you will not find any draft page for DeepNetwork since it is not part of the latest schema. If you need, I can provide you some information which is currently used internally.

[2019-08-01 08:16] judyXiang opened #19 "Is the Java invocation of PMML file exported by Nyoka the same as that of PMML file exported by sklearn?"
If so, do you have a demo reference for calling the PMML file exported by Nyoka from java? Thank you.
I successfully invoked the PMML file exported by sklearn with java. But calling the PMML file exported by Nyoka with the same code will cause an error.

[2019-08-01 08:20] judyXiang commented on #19
This is my code:
public static void predictLrHeart(Map<String, Double> irismap,String  pathxml)throws Exception {

        PMML pmml;

        File file = new File(pathxml);
        InputStream inputStream = new FileInputStream(file);
        try (InputStream is = inputStream) {
            pmml = org.jpmml.model.PMMLUtil.unmarshal(is);

            ModelEvaluatorFactory modelEvaluatorFactory = Mo

[2019-08-01 09:25] nyoka-pmml commented on #19
Hi @judyXiang. Currently, Nyoka uses PMML44 schema, so the namespace is "http://www.dmg.org/PMML-4_4". From your error, it looks like your engine does not support PMML44. Could you please check the schema version supported by your engine?

[2019-08-05 06:12] #19 closed

[2019-08-05 06:39] nyoka-pmml commented on #15
For DeepNetwork schema, please refer [pmml44.xsd](https://github.com/nyoka-pmml/nyoka/blob/master/nyoka/pmml44.xsd)

__DeepNetwork__ is the root element for a DeepNet model. Its child element is __NetworkLayer__, which contains information of each layer of the model.

The `layerId` attribute of __NetworkLayer__ is  unique for each layer and `connectionLayerId`_(some layer's `layerId`)_ creates a l

[2019-08-05 10:13] nyoka-pmml commented on #15
These are resolved and released in [Nyoka 3.3.0](https://github.com/nyoka-pmml/nyoka/releases/tag/3.3.0)

[2019-08-05 10:13] #15 closed

[2019-09-17 08:54] nyoka-pmml commented on #10
Closing this issue for now as there is no plan to implement this feature in the near future.

[2019-09-17 08:54] #10 closed

[2019-09-20 03:45] zzf7645368 opened #20 "About python Word2vec"
How to convert the Word2vec model to PMML? I don't know  how to do this, so in a sense I'm curious.  Can you help me ? Thanks!

[2019-09-20 04:00] nyoka-pmml commented on #20
Hi @zzf7645368, word2vec is from `gensim` library and Nyoka doesn't have support for that library.

List of libraries and models supported by Nyoka is mentioned in [Supported Libraries and Models](https://github.com/nyoka-pmml/nyoka#list-of-libraries-and-models-supported-by-nyoka-)

[2019-09-20 04:10] zzf7645368 commented on #20
Thank you for your reply!  I  need to apply the  Word2vec  model on java now ,Can you give me some advice! Thanks!

[2019-09-20 06:06] nyoka-pmml commented on #20
You can refer to https://deeplearning4j.org/docs/latest/deeplearning4j-nlp-word2vec. Thanks!

[2019-09-20 06:06] #20 closed

[2019-09-20 06:09] zzf7645368 commented on #20
Thanks!

[2019-09-24 20:27] rcprati opened #21 "ArimaToPMML error"
Hi,

I have tried the ArimaToPMML function, and I got an error "AttributeError: 'DataFrame' object has no attribute '_index'".

I have changed line 157 in arima.py, changing "_index" to "index", and this seems to fix the problem. I am not sure this is an issue with some pandas version or a bug.

[2019-09-25 06:31] Nirmal-Neel commented on #21
Hi @rcprati , thanks for pointing this out. In the current implementation, Nyoka expects a Pandas series to be fitted to the model. But yes, the input data could be DataFrame also.

In the next release of Nyoka, we will consider this.

[2019-09-25 06:53] nyoka-pmml commented on #21
Hi @rcprati , this issue is resolved in [Nyoka 4.0.1](https://github.com/nyoka-pmml/nyoka/releases/tag/4.0.1)

[2019-09-25 06:53] #21 closed

[2019-12-05 08:33] ebullientfly opened #23 "keras to pmml result pmml xml file not support by jpmml"
After use keras to pmml, I get the result pmml xml file. But when I use jpmml to load pmml file, it report that elment "DeepNetwork" not support by PMML-4_4

[2019-12-05 08:42] Nirmal-Neel commented on #23
Hi @ebullientfly , DeepNetwork is not part of PMML 4.4. This is something that will be available from PMML 5.0 probably.

[2019-12-06 18:14] Nirmal-Neel commented on #23
Since your question is answered, I am closing this issue.

[2019-12-06 18:14] #23 closed

[2019-12-12 10:00] krovyakov12 opened #24 "StackingClassifier"
Hello!

When I try convert model on the base of sklearn.ensemble.StackingClassifier to pmml get following:

NotImplementedError: StackingClassifier is not Implemented!

[2019-12-12 10:30] Nirmal-Neel commented on #24
Hi @krovyakov12 , Nyoka does not support StackingClassifer. So the error is NotImplementedError.

[2019-12-12 10:32] krovyakov12 commented on #24
Thanks for answer.

Do you plan to support it in near future?
Or it's impossible?

[2019-12-12 10:36] Nirmal-Neel commented on #24
It is quite possible. But there are some high priority tasks in the pipeline. Will consider it in future releases.

[2019-12-12 10:51] #24 closed

[2019-12-13 03:15] moseshu opened #25 "how to reload the pmml file?"
Hello!
      I save the Keras model as pmml file . but how to reload it by nyoka API?
my code is

   pmml = KerasToPmml(keras_model=model, model_name="text", predictedClasses=[1, 0])
   pmml.export(open("%s/model/cnn.pmml" % path, "w"), 0)
I use the model  to predict the binary text classification, the parameter predictedClasses is right to be given?

[2019-12-13 04:02] Nirmal-Neel commented on #25
Yes. You are using the exporter in correct way. However, Nyoka is an exporter only. It only allows you to convert a model into PMML.

[2019-12-13 07:25] #25 closed

[2019-12-16 07:53] moseshu commented on #25
I get i ！tthank you

[2019-12-17 02:10] moseshu opened #26 "which python package can load pmml file?"
Hello! I  exstract a pmml file like this
pmml = KerasToPmml(keras_model=grid, model_name="text", predictedClasses=[1, 0]) pmml.export(open("%s/model/cnn.pmml" % path, "w"), 0)

but when I load the pmml file by pypmml:
model = pypmml.Model.fromfile(name = "%s/model/cnn.pmml" % path)
data=[3] * 100
df = pd.DataFrame([data])
model.predict(df)
it gave me below:
Empty DataFrame
Columns: []
Index: []
 h

[2019-12-17 03:40] Nirmal-Neel commented on #26
Hi @moseshu, I am not sure how pypmml works. But the point is that DeepNetwork is not part of PMML 4.4 schema. Please verify whether pypmml has support for this.

[2019-12-17 15:20] #26 closed

[2020-03-23 10:12] 1samwatkins3005 opened #27 "Losing input features"
When using pipeline and dataframemapper transformations, features are lost. In the example below, car name is vectorized, but all other variables are omitted from the model thereafter. How should one apply transformations, such as TfidVectorizer, yet still keep all other input features?

import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn_pandas import DataFrameMapper
from sklea

[2020-03-23 15:43] Nirmal-Neel commented on #27
Hi @1samwatkins3005 , when we use DataFrameMapper, only those features are forwarded to the model which are used inside the DataFrameMapper. So in your example it filters out everything and keeps 'car name' only.

To keep all the input features, you need to use those feature names inside DataFrameMapper without any Transformer. See the code below -

[code]
I hope this answers your question.

[2020-03-23 16:19] 1samwatkins3005 commented on #27
This has worked perfectly thankyou.

Seperate issue, do you have any plans to include catboost in your package? https://catboost.ai/

Cheers!

[2020-03-23 16:34] Nirmal-Neel commented on #27
Currently catboost is not in our pipeline. We shall implement it in near future. Thanks!

[2020-03-23 16:34] #27 closed

[2020-03-24 14:36] 1samwatkins3005 opened #28 "One Hot Encoding Keras?"
Is it possible to include one hot encoding in a keras model for pmml?

[2020-03-24 16:08] Nirmal-Neel commented on #28
Hi @1samwatkins3005, it is not possible. Using keras exporter, you can export only the keras model into pmml.

[2020-03-24 18:44] #28 closed

[2020-03-24 18:48] 1samwatkins3005 opened #29 "Significant Differences in Model Performance Between PMML and actual Model."
I **am noticing significant differences between my normal model, and the pmml of this model.

Normal Model, where 'VehicleMake' is onehotencoded using OneHotEncoder:**

enc = OneHotEncoder(handle_unknown='ignore')

enc_df = pd.DataFrame(enc.fit_transform(all1[['VehicleMake']]).toarray())

all1 = all1.join(enc_df)
all1 = all1.drop(columns=['VehicleMake'])
train=all1.sample(frac=0.8,random_state=200

[2020-03-25 09:33] 1samwatkins3005 commented on #29
I've done some further testing using one of your examples for xgboost (with car name omitted for simplicity).

I ran the following code as a baseline:

import pandas as pd
from sklearn import datasets
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import CountVectorizer
from xgboost import XGBClassifier,XGBRegressor
from

[2020-03-25 09:37] 1samwatkins3005 commented on #29
Following some further testing using one of your xgboost examples, i see similar drops in accuracy when wrapping a model in your pmml wrapper.

Normal model and predictive accuracy:

import pandas as pd
from sklearn import datasets
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import CountVectorizer
from xgboost import X

[2020-03-25 11:04] 1samwatkins3005 commented on #29
I've fixed this locally. My mistake, not package mistake.

[2020-03-25 11:04] #29 closed

[2020-04-01 15:16] bansalism2 opened #30 "Issue with sklearn isolation Forest"
Originally while predicting from sklearn the scores contain values lesser than 0 as well while the PMML generated from NYOKA converts everything to positive. Hence the values are highly mismatched

[2020-04-01 15:30] Nirmal-Neel commented on #30
Hi @bansalism2 , could you provide some more information with examples?

[2020-04-01 23:29] Robert-Christensen-visa opened #31 "nyoka support for xgboost>=1.0.0"
I have been able to successfully export xgboost models using nyoka when I was using xgboost<1.0.0.  When I upgrade to xgboost>=1.0.0, exporting the xgboost model fails.

The following is from [xgboost example 1](https://github.com/nyoka-pmml/nyoka/blob/master/examples/xgboost/1_xgboost.ipynb) I get an error when doing the export.

[code]

The stack trace thrown from running to the last line:

[cod

[2020-04-02 03:58] Nirmal-Neel commented on #31
Hi @Robert-Christensen-visa, Nyoka supports xgboost <= 0.90. We will be adding support for latest release very soon. To know about the supported libraries along with version, please refer to [Libraries Supported by Nyoka](https://github.com/nyoka-pmml/nyoka/blob/master/README.md#list-of-libraries-and-models-supported-by-nyoka-)

[2020-04-02 05:05] bansalism2 commented on #30
Hi Nirmal,
Definitely.
So the way current PMML implementation predicts the anomalies is based on the average anomaly score from all the trees. But the actual implementation in sklearn takes many more things into consideration while predicting any observation as anomaly.
Citing the code lines from sklearn class for scores calculation:

 scores = 2 ** (
            -depths
            / (len(self.es

[2020-04-02 09:30] Nirmal-Neel commented on #30
Hi @bansalism2 , PMML also follows the same scoring procedure as scikit-learn does. Please refer to official PMML documentation of [Anomaly Detection Model](http://dmg.org/pmml/v4-4/AnomalyDetectionModel.html). You will find the anomaly calculation formula using the `average anomaly score` and `sampleDataSize`

[2020-04-02 12:24] bansalism2 commented on #30
Thanks @Nirmal-Neel

[2020-04-02 12:24] #30 closed

[2020-05-06 11:57] daviddecmul opened #32 "Output from pmml file not consistent with sklearn output"
HI there
I have started to use nyoka to create a pmml file on my random forest model trained with sklearn. When the pmml file was used in a scaled up version, the confidences for some test cases were not the same as the sklearn confidences.  I then used the package pyPMML (https://pypi.org/project/pypmml/) to import the pmml file created by nyoka and checked the confidences. They came out the same

[2020-05-07 09:08] Nirmal-Neel commented on #32
Hi @daviddecmul, could you  please check why pypmml is giving the wrong result?

I ran the same code as you have mentioned above. The probability from the pipeline object is -
`pipeline_obj.predict_proba(np.array([[2.1, 5.5, 2.4, 2.2]]))`
 array([[0., 1., 0.]])

And the execution engine also gives the same probabilities.
[code]

See my pmml below. If you run through the PMML manually then also you

[2020-05-11 08:29] weiguoz opened #33 "How to convert a trained XGBoost model file into PMML"
For example, I have already trained the model with the following code snippet.
How to convert such `my_model` into a PMML formatted model?
[code]

[2020-05-11 15:23] Nirmal-Neel commented on #33
Hi @weiguoz, Nyoka only supports XGBClassifier and XGBRegressor class. See the [XGBoost Examples](https://github.com/nyoka-pmml/nyoka/blob/master/examples/xgboost/1_xgboost.ipynb)

[2020-05-11 15:23] #33 closed

[2020-06-01 08:22] zj463261929 opened #34 "retinaNet pmml predict"
1. h5-> pmml:
model = load_model('resnet50_coco_best_v2.1.0.h5', backbone_name='resnet101')

backbone = 'resnet'
RetinanetToPmml(
    model,
    input_shape=(224,224,3),
    backbone_name=backbone,
    pmml_file_name="retinanet_with_coco_1.pmml",
    model_name="RetinaNet model",
    description="A Retinanet model with resnet as backbone"
)
2. pmml predict:
  from pypmml import Model
import cv2
im

[2020-06-01 08:44] zj463261929 opened #35 "examples\retinanet\RetinaNet Exporter.ipynb"
How is RetinaNet Exporter.ipynb generated???

[2020-06-01 08:47] #35 closed

[2020-06-02 16:39] Nirmal-Neel commented on #34
Hi @zj463261929, I am not sure how pypmml works. They will be able to explain it better. Again, do they support the DeepNetwork element as this is not yet part of the official schema yet?

[2020-06-03 02:43] zj463261929 commented on #34
thank you, Can you tell me how I should predict my model, e.g "retinanet_with_coco_1.pmml"

[2020-06-08 04:55] Nirmal-Neel commented on #34
Talking about the PMML, it takes an image as input. The resource "KerasRetinaNet.jar" contains the utility functions for pre-processing and converting the image into required format (base64 string in this case). I hope it answers your question.

[2020-06-08 04:57] Nirmal-Neel commented on #32
Hi @daviddecmul, have you checked with pypmml?

[2020-06-10 07:54] #34 closed

[2020-06-10 07:55] Nirmal-Neel commented on #32
I am closing this issue. Feel free to open a new issue if you have any questions. Thanks!

[2020-06-10 07:55] #32 closed

[2020-06-29 08:08] zxw131205 commented on #19
I ran into the same problem.I changed "<PMML xmlns="http://www.dmg.org/PMML-4_4" in "lightgbm.pmml" to "<PMML xmlns="http://www.dmg.org/PMML-4_3" .Succeeded.

[2020-07-17 18:23] tarilabs commented on #23
Hi @Nirmal-Neel could you kindly explain more about it, please?
I have similar problem, I have a keras model, and then I do per manual:

[code]

for which I obtain the below PMML, which however does not execute for the same reason.

How can I execute the keras model in PMML, or from Java alternative which would support the execution, please?

Thanks!

[code]

[2020-07-17 19:38] Nirmal-Neel commented on #23
Hi @tarilabs, the schema that Nyoka uses is a superset of the official PMML 4.4 schema. This extended schema contains definitions for DeepNetwork which is not official. DeepNetwork will be made official as part of PMML 5.0 schema which may or may not have the same definitions. Nyoka has a transitive relationship with a proprietary tool (both products are developed under same organisation) which ca

[2020-07-20 22:01] doolingdavid opened #36 "problem with sckit-learn GradientBoostingRegressor"
When trying to write out a pipeline with a GradientBoostingRegressor, I get an error. For example, using the example code from the previous now closed issue:
[code]

[2020-07-21 03:50] Nirmal-Neel commented on #36
Hi @doolingdavid, currently Nyoka has support for scikit-learn with version <= 0.20.4. We are planning to release a new version of Nyoka which will support latest version of scikit-learn.

[2020-07-21 03:50] #36 closed

[2020-07-22 11:00] VaradDaniel opened #37 "DecisionTreeRegressor exports as classification"
When exporting a SKL DecisionTreeRegressor model on a continuous target, the pmml file shows

functionName="classification"
<DataField name="target" optype="categorical"> in both DataDictionary and MiningSchema

and <OutputField name="probability_None" optype="continuous" dataType="double" feature="probability" value="None"/>
            <OutputField name="predicted_target" optype="categorical" fe

[2020-07-22 11:29] Nirmal-Neel commented on #37
Hi @VaradDaniel, which version of scikit-learn are you using? Nyoka works fine till version 0.20.4. We will release a new version of Nyoka with support for latest version of scikit-learn.

[2020-07-22 13:19] VaradDaniel commented on #37
HI Nirmal, using scikit-learn 0.23.1.. let me try downgrading and to 0.20.4 and check

[2020-07-22 13:27] VaradDaniel commented on #37
ok, so can confirm that the issue goes away when you downgrade scikit-learn.

[2020-07-22 13:27] #37 closed

[2020-07-31 01:38] chandlernine opened #38 "Support python 3.8"
Hello maintainers,

The following line in versions 4.2.0 and 4.2.1 prevents me from using python 3.8:

https://github.com/nyoka-pmml/nyoka/blob/4.2.1/setup.py#L32

I'd appreciate it if you'd relax the constraint or document why there is this constraint.

[2020-08-10 02:43] Kennylovetheworld opened #39 "Cannot support feature name with surfix 'f' with number."
I just find a bug when using nyoka to output pmml file with lighGBM model. This package fail to process the data with column name like 'f1', 'f2', 'f3'. This is probably caused by function "replace_name_with_derivedColumnNames(original_name, derived_col_names)" in xgboost_to_pmml.py file. Now my solution is to rename the input column name with some other prefix to by-pass this problem. Please fix

[2020-08-11 10:39] nyoka-pmml commented on #39
Thanks, @Kennylovetheworld for pointing this out. This will be taken care of in future releases.

[2020-08-11 10:41] nyoka-pmml commented on #38
Hi @chandlernine, this constraint will be removed in our next release.

[2020-09-02 10:27] Nirmal-Neel commented on #38
Hi @chandlernine, the constraint is removed in the release of version 4.3.0. See the [Release Notes](https://github.com/SoftwareAG/nyoka/releases/tag/4.3.0)

[2020-09-02 10:27] #38 closed

[2020-09-11 08:55] AbdealiJK opened #40 "unexpected element: DeepNetwork"
Hi, I was trying to use a PMML I generated using nyoka from tensorflow using jpmml-evaluator.
I got the error:
[code]

On manual inspection, I see that in the PMML, there is an element called `DeepNetwork`.

On looking at the jpmml PMML 4.4 XSD: https://github.com/jpmml/pmml-xsd/blob/master/xsd/pmml-4-4.xsd#L384
There was only `NeuralNetwork` and no `DeepNetwork`.

But I see it is present in the N

[2020-09-14 08:43] Nirmal-Neel commented on #40
Hi @AbdealiJK, please refer to #23

[2020-09-14 08:43] #40 closed

[2020-09-14 10:24] AbdealiJK commented on #40
Thanks @Nirmal-Neel - I should have searched a bit more

[2020-10-07 12:35] alenhrga opened #42 "SARIMAX exporter creates invalid PMML file"
I exported my SARIMAX model with latest Nyoka release (v4.3.0) and the resulting PMML file is created accordant to schema version 4.4. Exported PMML file  had `<InterceptVector>` attribute which is not defined in schema version 4.4.

Part of the exported PMML file:
[code]

[PMML 4.4 specification](http://dmg.org/pmml/v4-4/pmml-4-4.xsd) **does not have** `<InterceptVector>` attribute defined so thi

[2020-12-10 10:10] Nirmal-Neel commented on #42
Hi @alenhrga, Nyoka 4.3.0 is using an intermediate schema which lies between PMML schema 4.4 and 4.4.1. Now, as PMML schema 4.4.1 is out there, Nyoka will also be updated with the new schema which is already in progress. Thanks!

[2020-12-23 09:01] Nirmal-Neel commented on #42
Hi @alenhrga, Nyoka 4.4.0 has support for PMML schema 4.4.1. Check [Release notes 4.4.0](https://github.com/SoftwareAG/nyoka/releases/tag/4.4.0)

[2020-12-23 09:01] #42 closed

[2021-05-18 07:18] wentixiaogege opened #43 "nyoka.xgboost.xgboost_to_pmml is taking too long time for a model with 5000epochs ,like 50M"

[2021-05-18 07:19] wentixiaogege commented on #43
to me ,it takes about 6hours to finished, but a xgb training is only like 30mins, so this is not very acceptable!!!

[2021-05-19 05:58] Nirmal-Neel commented on #43
Hi @wentixiaogege , could you please provide the code to reproduce it?

[2021-05-19 06:37] wentixiaogege commented on #43
![image](https://user-images.githubusercontent.com/8437905/118766827-8bd96580-b8af-11eb-9aa4-8afa6ebede02.png)

## code is below，but data is  private; maybe you can find some open source data
## please check the running time in the picture,you can see that with only 500epcohs takes 2minutes, if using 5000epochs ,it  takes many hours

from xgboost.sklearn import XGBRegressor
from sklearn.pipeline i

[2021-05-19 06:41] Nirmal-Neel commented on #43
How large is your generated PMML file in size?

[2021-05-19 07:08] wentixiaogege commented on #43
the size is around 10X large than the 500 epochs, size is like 50M~ 100M, the number of string is like 10000000+ ;

i see that the size is large, but i cannot see the saving time is even longer  than the training time.

[2021-06-06 13:33] HeshamMahrous opened #44 "'Node' object has no attribute 'get_config'"
Please find the following issue:

Do you have an idea this might be or library version mismatch ?

AttributeError                            Traceback (most recent call last)
<ipython-input-20-1416833ffd25> in <module>
----> 1 pmmlObj=KerasToPmml(model)
      2 pmmlObj.export(open('predicitive_maintence.pmml','w'),0)

~\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\Local

[2021-06-06 16:06] puhu1 commented on #44
Hi @HeshamMahrous, please check [Libraries supported by Nyoka](https://github.com/SoftwareAG/nyoka#list-of-libraries-and-models-supported-by-nyoka-) whether you are using supported version of libraries or not.

[2021-06-07 04:38] Nirmal-Neel commented on #44
Hi @HeshamMahrous, could you please whether you are using supported version of libraries. The list of supported libraries and versions can be found here - [List of supported libraries](https://github.com/SoftwareAG/nyoka#list-of-libraries-and-models-supported-by-nyoka-).

_Note - The keras and retinanet exporter will be removed in 5.0.0 release._

[2021-06-25 14:50] victornoel commented on #31
Hi @Nirmal-Neel, any news about supporting recent xgboost and sklearn? Cheers

[2021-06-28 08:48] Nirmal-Neel commented on #44
Hi @HeshamMahrous! Since there is no update for last 3 weeks, I am going to close this issue. Feel free to re-open or create a new if required.

[2021-06-28 08:48] #44 closed

[2021-06-28 08:50] Nirmal-Neel commented on #31
Hi @victornoel, we are still not there yet. But that is not so far.

[2021-06-28 08:53] Nirmal-Neel commented on #2
Closing this issue for now. This will be reopened once we start working on this. Thanks!

[2021-06-28 08:53] #2 closed

[2021-06-28 09:52] victornoel commented on #31
Very nice, thank you for the feedback!

[2021-07-01 13:57] victornoel opened #45 "Support for OrdinalEncoder from sklearn"
Hi,

I noticed you support most of the available encoders from sklearn, but not OrdinalEncoder. Is there any plan to support it?

Thanks!

[2021-07-05 07:34] victornoel commented on #45
@Nirmal-Neel hi, any idea about this? Or maybe some guidance on how to implement it? Cheers

[2021-07-06 11:06] Nirmal-Neel commented on #45
Hi @victornoel, sorry for the late reply. Yes, we have plan to support few more models/encoders/transformers from scikit-learn. But the timeline is not clear yet.

[2021-07-06 11:18] Nirmal-Neel commented on #45
If you want to implement it, then you could go through [Transformation Dictionary and Derived Fields](http://dmg.org/pmml/v4-4-1/Transformations.html) and could find an `EXPRESSION` which fits well with OrdinalEncoder. Then you could follow [pre_process.py](https://github.com/SoftwareAG/nyoka/blob/master/nyoka/skl/pre_process.py#L157) and add the code for generating those elements.

[2021-07-14 10:11] Nirmal-Neel commented on #45
Hi @victornoel, did that answer your question?

[2021-07-14 11:01] victornoel commented on #45
@Nirmal-Neel ah yes, sorry for not getting back to you.

It does indeed, I'm still exploring various possibilities in converting my pipelines to PMML, e.g., I could also rethink my preprocessing to avoid using this encoder. I'm not moving at very high pace with this endeavour ^^
But if I need it, I will try to implement and contribute support for `OrdinalEncoder` to nyoka!

Until then I guess we c

[2021-08-03 08:07] Nirmal-Neel commented on #39
Hi @Kennylovetheworld, this is fixed in [Release 5.0.1](https://github.com/SoftwareAG/nyoka/releases/tag/5.0.1)

[2021-08-03 08:07] #39 closed

[2021-08-23 10:11] Liangkz opened #48 "Does pmml support custom functions?"
Hello！
I want to define a custom function, and save it as .pmml. How can I achieve it?

[2021-08-23 10:35] Nirmal-Neel commented on #48
Hi @Liangkz, Nyoka does not have this functionality. Thanks!

[2021-08-23 10:35] #48 closed

[2021-08-23 11:20] Liangkz commented on #48
Thanks!

[2021-11-02 11:14] Sathrovarr opened #49 "LGBM PMML not loadable with jpmml-evaluator; PMML scoping compliance?"
I'm exporting `lightgbm.LGBMClassifier` with `nyoka.lgb_to_pmml`, to be read by `jpmml-evaluator`.

On evaluating the model, `jpmml-evaluator` raises `DuplicateValueException`, as the top-level `MiningModel` duplicates `OutputFields`of the models in `modelChain`. While, from my own assessment, this should be fine with the PMML 4.4 standard, the `jpmml` team insists that this is against scoping rul

[2021-11-03 09:12] timjeti commented on #49
Hi @Sathrovarr, the mentioned behavior is compliant to PMML 4.4 standard and we do not want to change this behavior,
unless there has been a update in the schema for the given model as per PMML standards in the future.

Regarding the alternate Java package , I would suggest using ZEMENTIS PREDICTIVE ANALYTICS application which is a significantly fast inference engine and is entirely compatible to

[2021-11-03 17:56] #49 closed

[2021-11-18 06:05] Nirmal-Neel commented on #43
Hi @wentixiaogege, sorry for the delay in responding back. We are now looking into the issue. We will include this fix in our next release soon.

[2021-11-24 09:03] Nirmal-Neel commented on #43
Hi @wentixiaogege, release [5.1.0](https://github.com/SoftwareAG/nyoka/releases/tag/5.1.0) takes care of this. Thanks!

[2021-11-24 09:03] #43 closed

[2021-12-02 04:21] Sathrovarr opened #51 "Categorical Feature LGBM supported?"
I'm running lightgbm classifier `lightgbm.LGBMClassifier`, including setting categorical features as `model.fit(X, y, categorical_feature = ccols)`.

When I attempt exporting the resulting model using nyoka's `lgb_to_pmml`, I get the following error
[code]

I've double checked the `categoric_values` that's passed around between the library functions are set up correctly. However, I would not see a

[2021-12-06 05:18] Nirmal-Neel commented on #51
Hi @Sathrovarr, support for categorical feature is not added in Nyoka yet. We will try to add this along with others in the pipeline in near future. Thanks!

[2022-01-13 13:26] hsx1612727380 opened #52 "the following pipeline is valid, but skl_to_pmml fails with a traceback error:"
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
/var/folders/3p/nkzqwh_177jgrfhcl035m1l80000gp/T/ipykernel_57171/2423173579.py in <module>
      7
      8
----> 9 xgboost_to_pmml(pipeline, features, target_name, "/Users/huangshouxi/IdeaProjects/grocery/groceryqa-tools-predict/groceryqa-tools-pre

[2022-01-13 13:33] hsx1612727380 commented on #52
![image](https://user-images.githubusercontent.com/14011324/149339606-6affa365-787c-4407-8dba-70530db5010b.png)

[2022-01-14 02:04] hsx1612727380 commented on #52
@vinayvinkumar 3_xgboost_With_PreProcess .ipynb made the same mistake

[2022-01-14 04:44] Nirmal-Neel commented on #52
Hi @hsx1612727380, which version of xgboost are you using?

[2022-01-14 05:27] hsx1612727380 commented on #52
'1.5.0'

[2022-01-14 05:27] hsx1612727380 commented on #52
'1.5.0'

[2022-01-14 05:30] Nirmal-Neel commented on #52
Currently, our exporter does not support xgboost with version >= 1.0. We are working on it and soon we will provide a release with that support.

[2022-01-14 05:30] Nirmal-Neel commented on #52
The list of supported libraries and versions are mentioned here - https://github.com/SoftwareAG/nyoka#list-of-libraries-and-models-supported-by-nyoka-

[2022-01-14 05:31] hsx1612727380 commented on #52
Thanks

[2022-02-02 06:08] Nirmal-Neel commented on #52
Hi @hsx1612727380, nyoka release [5.2.0](https://github.com/SoftwareAG/nyoka/releases/tag/5.2.0) adds support for xgboost 1.x.x.

[2022-02-02 06:08] #52 closed

[2022-02-02 06:09] Nirmal-Neel commented on #31
Hi @victornoel, nyoka release [5.2.0](https://github.com/SoftwareAG/nyoka/releases/tag/5.2.0) adds support for xgboost 1.x.x.

[2022-02-02 06:09] #31 closed

[2022-02-05 13:43] victornoel commented on #31
@Nirmal-Neel really cool, thx for the heads-up!

While I have you here, any plan for sklearn 1.x? With both xgboost 1.x and sklearn 1.x supported, we could have a suite of stabilized tools!

[2022-02-10 20:18] zigs824 opened #55 "Does the xgboost implementation support categorical features?"
The previous issue mentioned lgbm does not, I haven't seen any xgboost examples using categorical transformers. I am trying to use onehotencoder for my project because I saw it was listed as supported. Thanks!

[2022-03-31 05:37] Nirmal-Neel commented on #55
Hi @zigs824, we handle each transformer/estimator in a pipeline independently. OneHotEncoder is a transformer which our tool supports and similarly xgboost. Does this answer your question?

[2022-08-09 13:40] AayushSameerShah opened #58 "The readme still contains Keras, which is no longer supported"
## The Problem
I am glad, I came to this repository finding for the Keras → PMML exporter. But the new version seems not to be supporting the `Keras2pmml`. But the mention of Keras is still there *(yes in the current version)*.

I tried to go back to multiple versions and finally found that Nyoka has stopped supporting Keras export since version 5.0.0. Hence the last supporting version is 4.4.0.

[2022-10-26 03:24] qianjiangchao1992 commented on #45
hello，I want to customize a pipeline through the DataFrameMapper, but I see that pre_process enforces the type, or is it possible to provide a similar interface to increase flexibility

[2022-10-26 03:25] qianjiangchao1992 commented on #45
@victornoel hello，I want to customize a pipeline through the DataFrameMapper, but I see that pre_process enforces the type, or is it possible to provide a similar interface to increase flexibility

[2022-10-26 06:10] victornoel commented on #45
@qianjiangchao1992 I am sorry, I have no idea. I'm not sure here is the right place to ask though...

[2022-10-26 06:19] qianjiangchao1992 commented on #45
ok,thanks

[2022-10-26 06:22] qianjiangchao1992 opened #60 "How can I write the fit_transform pipeline"
hello，I want to customize a pipeline through the DataFrameMapper, but I see that pre_process enforces the type, or is it possible to provide a similar interface to increase flexibility

[2022-11-24 07:28] mohammedfazil003 commented on #60
Hi @qianjiangchao1992,
Currently we don't have support for customize pipeline in Nyoka. We do have this as a part of future backlog.
Thanks.

[2022-11-24 07:31] mohammedfazil003 commented on #55
Hello @zigs824 ,
Does it address your query regarding Xgboost, if so can we close the ticket.
Thanks.

[2022-11-24 07:39] mohammedfazil003 commented on #51
Hello @Sathrovarr,
In future roadmap, we do have plans to implement it as a part of Nyoka. Currently closing the ticket.
Thanks

[2022-11-24 07:39] #51 closed

[2022-11-24 07:49] mohammedfazil003 commented on #45
Since it's more than a year now, closing the ticket.
Thanks

[2022-11-24 07:49] #45 closed

[2022-11-24 08:46] mohammedfazil003 commented on #58
Hello @AayushSameerShah,

Thank you for your valuable time and mentioning about it.
The readme file is updated in the following comit: https://github.com/SoftwareAG/nyoka/commit/0214a0b44db2c107380e256d998ec1aac75d8704

[2022-11-24 08:46] #58 closed